<h1 style="text-align: center">Advent Of Code</h1>
<h2>2023</h2>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> --- Day 1: --- </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Answer 1: {{ q1Answer1 }}</p>
    <p>Answer 2: {{ q1Answer2 }}</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> --- Day 2: --- {{ q2Time }}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Answer 1: {{ q2Answer1 }}</p>
    <p>Answer 2: {{ q2Answer2 }}</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> --- Day 3: --- {{ q3Time }}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Answer 1: {{ q3Answer1 }}</p>
    <p>Answer 2: {{ q3Answer2 }}</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> --- Day 4: --- {{ q4Time }}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Answer 1: {{ q4Answer1 }}</p>
    <p>Answer 2: {{ q4Answer2 }}</p>
  </mat-expansion-panel>
</mat-accordion>
